config/**/*.js
config/**/*.es6
vendor/**/*.js
vendor/**/*.es6
app/assets/config/manifest.js
app/assets/javascripts/application.js
app/javascript/packs/application.js
app/javascript/packs/server_rendering.js
