/* 
 * I am REALLY sorry about the CSS. It's pretty awful looking and I'm slightly
 * ashamed that I didn't spend more time actually handling the table to look a
 * bit better & be more responsive, but, the idea was to show you that I had
 * at least enough wisesense to use a flexbox to handle this kinda tabular data
 * without using a table (although i could have used a table, responsive tables
 * are an even bigger PITA).
 */
$grey: #999;
$dark: #bbb;
$light: #fff;

.table {
  border: 1px solid $grey;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .header {
    background-color: $dark;
    font-weight: 700;
  }

  .row {
    border-bottom: 1px solid $grey;
    display: flex;
    flex-flow: row nowrap;

    &:nth-of-type(even) { background-color: $light; }
    &:nth-of-type(odd) { background-color: $dark; }
  }

  .column {
    display: flex;
    flex-basis: 0;
    flex-flow: row nowrap;
    flex-grow: 1;
  }
}


